footer .footer {
    width: 100%;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px 0;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 0.5px 1.5px 0px, rgba(0, 0, 0, 0.04) 0px 0px 1px 0px;
}

footer .footer a,p {
    display: inline-block;
    color: #9F8582;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
}