/* 全局样式 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Microsoft YaHei", "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a,p,h2 {
    font-weight: 300;
    color: #9F8582;
    text-decoration: none;
}

body {
    /* background: linear-gradient(to bottom, #F2E8DA , #FFBE98, #DCBD9E, #EFCFBA, #FA9A85, #F97272, #DE8286, #FFB2A5); */
    background-color: #e6dcdb;
    background-size: cover;
}

li {
    list-style: none;
}

i {
    color: #9F8582;
}