/* right-main 样式 */
main .card .right-card {
    margin-left: 20px;
    display: flex;
    width: 600px;
    height: 476px;
    flex-direction: column;
}

@media (max-width: 960px) {
    main .card .right-card {
        display: none;
    }
}

main .card .right-card mdui-card[variant="elevated"] {
    /* padding: 12px 20px 20px 20px; */
    width: 100%;
    max-width: 600px;
    height: 476px;
    background-color: #FFF;
    text-align: center;
    flex-direction: column;
    display: flex;
}

/* 右侧菜单样式 */
main .card .right-card #nav {
    position: relative;
    border: none;
    padding: 12px 20px;
    height: 54px;
    display: flex;
    background-color: #FFFBFB;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 0.5px 1.5px 0px, rgba(0, 0, 0, 0.04) 0px 0px 1px 0px;
    align-items: center;
}

main .card .right-card #nav li a {
    position: relative;
    padding: 12px 5px;
    font: 300 14px '优设标题黑';
    border: none;
    outline: none;
    color: #9F8582;
    display: inline-block;
    text-decoration: none;
    z-index: 3;
}

main .card .right-card #nav li {
    color: #9F8582;
    /* font-weight: 300; */
    margin-right: 10px;
    /* font-size: 22.88px; */
}

main .card .right-card #nav .menu-icon {
    display: flex;
    align-items: center;
    padding-right: 20px;
    font-size: 22.88px;
    color: #9F8582;
}

.slide1,
.slide2 {
    position: absolute;
    display: inline-block;
    height: 30px;
    border-radius: 0.5rem;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1.05);
}

.slide1 {
    background-color: rgb(233, 222, 220);
    z-index: 2;
    box-shadow: rgb(192, 175, 173) 0px -1.98122px 0px 0px inset;
}

.slide2 {
    opacity: 0;
    background-color: rgba(192, 175, 173, .3);
    z-index: 1;
    box-shadow: 0 0 20px #ffffffaa inset;
}

.squeeze {
    transform: scale(0.9);
}

/* 右卡片内容样式 */

main .card .right-card .content {
    margin: 22px 20px 20px 20px;
}

main .card .right-card #content2 {
    width: 560px;
    height: 380px;
    display: flex;
    flex-wrap: wrap;
    /* 允许内容换行 */
    justify-content: space-between;
    /* 子元素水平间距平均分布 */
    align-content: space-between;
}

main .card .right-card #content2 mdui-card {
    display: flex;
    padding: 5px;
    width: 125px;
    /* 调整宽度 */
    height: 80px;
    /* 调整高度 */
    border-radius: 0.75rem;
    /* 圆角 */
    background-color: #FFFBFB;
    /* 背景色 */
    text-align: center;
    /* 文本居中 */
}


main .card .right-card #content2 mdui-card img {
    display: block;
    /* 或者 inline-block */
    margin: 0 auto;
    /* 水平居中并且清除外边距 */
    width: 30px;
    /* 维持你的宽度设置 */
}

main .card .right-card #content2 mdui-card span {
    display: block;
    margin-top: 15px;
    font-size: 12px;
    font-weight: 300;
    color: #9F8582;
}