/* 主题样式 */
/* 主题分为两套颜色：day-theme 和 night-theme */
:root {
    /* 亮色主题 day-theme */
    --bd-day: #ffe7c0;
    --icon-day: ;
    --search-day: ;
    --info-day: ;
    --logo-day: ;
    --h1-day: ;
    --h2-day: ;
    --a-day: ;
    --span-day: ;
    --p-day: ;
    --botton-day: ;
    --nav-day: ;
    --content-day: ;
    --weblist-day: ;

    /* 暗色主题 night-theme */
    --bd-night: ;
    --icon-night: ;
    --search-night: ;
    --info-night: ;
    --logo-night: ;
    --h1-night: ;
    --h2-night: ;
    --a-night: ;
    --span-night: ;
    --p-night: ;
    --botton-night: ;
    --nav-night: ;
    --content-night: ;
    --weblist-night: ;
}

