/*
引用自作品：https://codepen.io/MarvinRudolph/pen/jemoKZ
作者主页：https://codepen.io/MarvinRudolph
引用并标注他人作品的出处是一种尊重原作者创作权和劳动成果的行为，体现了职业道德和责任感。
*/

#nav {
    position: relative;
}

#nav .night-day-toggle {
    position: absolute;
    right: 20px;
}

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

.night-day-toggle {
    cursor: pointer;
    position: relative;
    width: 60px;
    height: 30px;
    border-radius: 6rem;
    transition: background 0.3s ease;
}

.night-day-toggle .planet {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    overflow: hidden;
    transition: all 0.3s ease;
}

.night-day-toggle .planet .moon,
.night-day-toggle .planet .sun {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.night-day-toggle .planet .moon {
    background: #fff;
    z-index: 5;
}

.night-day-toggle .planet .moon .crater {
    position: absolute;
    border-radius: 50%;
    background: #efefef;
}

.night-day-toggle .planet .moon .crater-1 {
    width: 48%;
    height: 48%;
    right: 0;
    top: 18%;
    transform: translateX(35%);
}

.night-day-toggle .planet .moon .crater-2 {
    width: 13%;
    height: 13%;
    top: 7%;
    left: 10%;
    background: #d6d6d6;
}

.night-day-toggle .planet .moon .crater-3 {
    width: 25%;
    height: 25%;
    top: 26%;
    left: 22%;
}

.night-day-toggle .planet .moon .crater-4 {
    width: 22%;
    height: 22%;
    top: 70%;
    left: 8%;
}

.night-day-toggle .planet .moon .crater-5 {
    width: 15%;
    height: 15%;
    top: 70%;
    left: 58%;
}

.night-day-toggle .planet .sun {
    background: #feeb97;
    border-right: 0.125rem solid #f4ce8c;
    border-radius: 50%;
}

.night-day-toggle .sky {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

.night-day-toggle .sky-night .star {
    position: absolute;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.night-day-toggle .sky-night .star path {
    fill: #fff;
}

.night-day-toggle .sky-night .star-1 {
    right: 11%;
    bottom: 21%;
    width: 8%;
    height: 16%;
}

.night-day-toggle .sky-night .star-2 {
    left: 50%;
    top: 20%;
    width: 7%;
    height: 15%;
}

.night-day-toggle .sky-night .star-3 {
    top: 19%;
    right: 16%;
    width: 5%;
    height: 14%;
}

.night-day-toggle .sky-night .star-4 {
    right: 27%;
    top: 47%;
    width: 5%;
    height: 9%;
}

.night-day-toggle .sky-night .star-5 {
    left: 55%;
    bottom: 26%;
    width: 4%;
    height: 12%;
}

.night-day-toggle .sky-day .cloud {
    position: absolute;
    transform: translateX(100%);
    transition: transform 0.3s ease;
}

.night-day-toggle .sky-day .cloud .cloud-bubble {
    background: #fff;
    border-radius: 50%;
    position: absolute;
}

.night-day-toggle .sky-day .cloud .cloud-bubble:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.night-day-toggle .sky-day .cloud-1 {
    width: 20%;
    height: 30.5%;
    right: 38%;
    bottom: 22%;
}

.night-day-toggle .sky-day .cloud-1 .cloud-bubble-1 {
    width: 44%;
    bottom: 8%;
}

.night-day-toggle .sky-day .cloud-1 .cloud-bubble-2 {
    width: 44%;
    bottom: 0;
    left: 30%;
}

.night-day-toggle .sky-day .cloud-1 .cloud-bubble-3 {
    width: 44%;
    right: 0;
    bottom: 10%;
}

.night-day-toggle .sky-day .cloud-1 .cloud-bubble-4 {
    width: 42%;
    right: 20%;
    top: 0;
}

.night-day-toggle .sky-day .cloud-1 .cloud-bubble-5 {
    width: 44%;
    left: 10%;
    top: 0;
}

.night-day-toggle .sky-day .cloud-2 {
    width: 11.5%;
    height: 18%;
    left: 12%;
    top: 22%;
}

.night-day-toggle .sky-day .cloud-2 .cloud-bubble-1 {
    width: 44%;
    bottom: 10%;
}

.night-day-toggle .sky-day .cloud-2 .cloud-bubble-2 {
    width: 40%;
    bottom: 0;
    left: 32%;
}

.night-day-toggle .sky-day .cloud-2 .cloud-bubble-3 {
    width: 42%;
    right: 0;
    bottom: 18%;
}

.night-day-toggle .sky-day .cloud-2 .cloud-bubble-4 {
    width: 40%;
    right: 18%;
    top: 5%;
}

.night-day-toggle .sky-day .cloud-2 .cloud-bubble-5 {
    width: 44%;
    left: 12%;
    top: 0;
}

.night-day-toggle .sky-day .cloud-3 {
    width: 11.5%;
    height: 16%;
    left: 42%;
    top: 12%;
}

.night-day-toggle .sky-day .cloud-3 .cloud-bubble-1 {
    width: 44%;
    left: 0;
    bottom: 16%;
}

.night-day-toggle .sky-day .cloud-3 .cloud-bubble-2 {
    width: 42%;
    bottom: 0;
    left: 30%;
}

.night-day-toggle .sky-day .cloud-3 .cloud-bubble-3 {
    width: 44%;
    right: 0;
    bottom: 14%;
}

.night-day-toggle .sky-day .cloud-3 .cloud-bubble-4 {
    width: 40%;
    top: 0;
    right: 14%;
}

.night-day-toggle .sky-day .cloud-3 .cloud-bubble-5 {
    width: 32%;
    left: 23%;
    top: 4%;
}

.night-day-toggle .sky-day .cloud-4 {
    left: 15%;
    bottom: 22%;
    width: 10%;
    height: 13%;
}

.night-day-toggle .sky-day .cloud-4 .cloud-bubble-1 {
    width: 42%;
    left: 0;
    bottom: 17%;
}

.night-day-toggle .sky-day .cloud-4 .cloud-bubble-2 {
    width: 45%;
    bottom: 0;
    left: 25%;
}

.night-day-toggle .sky-day .cloud-4 .cloud-bubble-3 {
    width: 44%;
    bottom: 0;
    right: 0;
}

.night-day-toggle .sky-day .cloud-4 .cloud-bubble-4 {
    width: 40%;
    top: 0;
    right: 5%;
}

.night-day-toggle .sky-day .cloud-4 .cloud-bubble-5 {
    width: 36%;
    left: 28%;
    top: 5%;
}

.night-day-toggle input[type=checkbox] {
    width: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
}

.night-day-toggle.night {
    background: #3c4360;
}

.night-day-toggle.night .planet .moon {
    visibility: visible;
    opacity: 1;
}

.night-day-toggle.night .sky-night {
    visibility: visible;
    opacity: 1;
}

.night-day-toggle.night .sky-night .star {
    transform: translateX(0);
}

.night-day-toggle.day {
    background: #afdfeb;
}

.night-day-toggle.day .planet {
    transform: translateX(30px);
}

.night-day-toggle.day .planet .sun {
    visibility: visible;
    opacity: 1;
}

.night-day-toggle.day .sky-day {
    visibility: visible;
    opacity: 1;
}

.night-day-toggle.day .sky-day .cloud {
    transform: translateX(0);
}

/*# sourceMappingURL=light-dark.css.map */