/* ----- 搜索框容器样式 ----- */
.search[label="Search"]::part(container) {
    margin-bottom: 20px;
    width: 100%;
    max-width: 300px;
    border-radius: 0.75rem;
    background-color: var(--search-day);
    box-shadow: var(--search-sd-day) 0px -1.98122px 0px 0px inset;
}

body.night-theme .search[label="Search"]::part(container) {
    background-color: var(--search-night);
    box-shadow: var(--search-sd-night) 0px -1.98122px 0px 0px inset;
}

/* ----- 搜索框容器聚焦阴影 ----- */
.search[label="Search"]::part(container):focus-within {
    box-shadow: var(--search-focus-sd-day) 0px -1.98122px 0px 0px inset;
}

body.night-theme .search[label="Search"]::part(container):focus-within {
    box-shadow: var(--search-focus-sd-night) 0px -1.98122px 0px 0px inset;
}

/* ----- 搜索框提示文本 ----- */
.search[label="Search"]::part(label) {
    color: var(--search-label-day);
}

body.night-theme .search[label="Search"]::part(label) {
    color: var(--search-label-night);
}

/* ----- 搜索框光标/输入文本 ----- */
.search[label="Search"]::part(input) {
    caret-color: var(--search-caret-day);
    color: var(--search-input-text-day);
}

body.night-theme .search[label="Search"]::part(input) {
    caret-color: var(--search-caret-night);
    color: var(--search-input-text-night);
}